body {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  margin: 0;
  padding: 0;
}

.App {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #282c34;
  width: 50%;
  margin-right: auto;
  border-radius: 1rem;
  background: rebeccapurple;
  margin-top: 2rem;
  min-height: 65vh;
  max-height: 65vh;
  overflow-y: auto;
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.character-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 40%;
  display: flex;
  height: 6rem;
  justify-content: space-between;
}

.text-aling-right {
  text-align: right;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.character-card img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.character-card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.character-card p {
  margin: 5px 0;
  color: #666;
}

.character-card button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: .25s;
  opacity: 0;

}

.sil {
  background-color: #d61010;
}

.ekle {
  background-color: #1dd610;
}

.character-card:hover button {
  opacity: 1;
}

.character-card button:hover {
  background-color: #0056b3;
}

.text-aling-center {
  text-align: center;
  color: white;
  margin-top: 3rem;
  font-size: 3rem;
}

results-list {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.results-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.results-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.results-list li:hover {
  background-color: #f0f0f0;
}

.character-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.custom-option {
  display: flex;
  align-items: center;
}

.custom-option-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.no-results {
  padding: 10px;
  text-align: center;
  color: #888;
}

.select-container {
  width: 80%;
  margin: 0 auto;
}

.card-flex span{
  font-size: .80rem;
}

.card-flex h2{
  font-size: 1rem;
}

.card-flex{
  display: flex;
  align-items: center;
  margin-left: 10px;
}